<%= label_tag "dynamic_name_label", "Example Name", class: "Settlement_Name" %> <br/>

<div class="output_container">
<%= label_tag "dynamic_alignment_label", "N" %>
<%= label_tag "dynamic_city_catigory_label", "thorpe" %> <br/>

<p>
  <%= label_tag "corruption_label", "Corruption", class: "stat_label" %> <%= label_tag "corruption", "-4" %>; 
  <%= label_tag "crime_label", "Crime", class: "stat_label" %> <%= label_tag "crime", "-4" %>; 
  <%= label_tag "economy_label", "Economy", class: "stat_label" %> <%= label_tag "economy", "-4" %>; 
  <%= label_tag "law_label", "Law", class: "stat_label" %> <%= label_tag "law", "-4" %>; 
  <%= label_tag "lore_label", "Lore", class: "stat_label" %> <%= label_tag "lore", "-4" %>; 
  <%= label_tag "society_label", "Society", class: "stat_label" %> <%= label_tag "society", "-4" %>
</p>

<%= label_tag "qualities", "Qualities", id: "qualities_label", class: "stat_label" %> <%= label_tag "dynamic_qualities_label", "", id: "qualities_label" %>

<p>
  <%= label_tag "danger", "Danger", id: "danger_label", class: "stat_label" %> <%= label_tag "dynamic_danger_label", "-10", id: "danger_label" %>
  <div id="disadvantages_container">
     ; <%= label_tag "disadvantages_label", "Disadvantages", class: "stat_label" %>
  <%= label_tag "dynamic_disadvantage_label", ""%>
  </div>
</p>
<br/>
<p>Demographics</p>

<p>
  <%= label_tag "government", "Government ", class: "stat_label" %><%= label_tag "dynamic_government_label", "Autocracy" %>
</p>

<p>
  <%= label_tag "population", "Population ", class: "stat_label" %><%= label_tag "dynamic_population_label", "0" %>
  <%= label_tag "dynamic_population_details_label", "" %>

</p>


<p>Marketplace</p>

<p>
  <%= label_tag "baseValue", "Base Value ", class: "stat_label" %><%= label_tag "dynamic_base_value_label", "50.00" %> gp; 
  <%= label_tag "puchaseLimit", "Purchase Limit ", class: "stat_label" %><%= label_tag "dynamic_purchase_limit_label", "500.00" %> gp; 
  <%= label_tag "spellcasting", "Spellcasting ", class: "stat_label" %><%= label_tag "dynamic_spellcasting_label", "1st" %>
</p>

<p>
  <%= label_tag "minorItems", "Minor Items ", class: "stat_label" %> <%= label_tag "dynamic_minor_items_label", "1d4" %>; 
  <%= label_tag "mediumItems", "Medium Items ", class: "stat_label" %> <%= label_tag "dynamic_medium_items_label", "-" %>; 
  <%= label_tag "majorItems", "Major Items ", class: "stat_label" %> <%= label_tag "dynamic_major_items_label", "-" %>
</p>
</div>