<div>
  <h1>Settlement Generator</h1>
  <div class="demographics_input_container">

    <%= label_tag "name_label", "Settlement Name : " %>
    <%= text_field_tag 'name_input', 'Example Name', onkeyup:"updateSettlement(this)", autocomplete: :off %>
    <%= label_tag "population_label", "Population :" %>
    <%= number_field_tag 'population_input', 0, onchange:"updateSettlement(this)", autocomplete: :off %><br/>
    <%= label_tag "population_details_label", "Population Details (Optional):" %>
    <%= text_area_tag 'population_details_input', "", onkeyup:"updateSettlement(this)", autocomplete: :off, placeholder: "e.g. 100 halflings or 80% elven" %><br/>


    <%= label_tag "alignment_label", "Alignment: " %>
    <%= select_tag 'alignment_input', options_for_select([
      ["Lawful Good", "LG"],
      ["Neutral Good", "NG"],
      ["Chaotic Good", "CG"],
      ["Lawful Neutral", "LN"],
      ["True Neutral", "N"],
      ["Chaotic Neutral", "CN"],
      ["Lawful Evil", "LE"],
      ["Neutral Evil", "NE"],
      ["Chaotic Evil", "CE"],
      ], selected: "N"), onchange: "updateSettlement(this)", autocomplete: :off %>

    <%= label_tag "government_label", "Government: " %>
    <%= select_tag 'government_input', options_for_select([
      ["Autocracy"],
      ["Council"],
      ["Magical"],
      ["Overlord"],
      ["Secret Syndicate"],
      ],selected: "Autocracy"), onchange: "updateSettlement(this)", autocomplete: :off %>
  



  <div class="qualities_container">
    <br/>
    <%= label_tag 'QUALITIES', nil, class: 'qualities_label',  title: get_qualities_title, 'data-toggle' => 'tooltip' %>
    <br/>
    <table>
      <% get_qualities_checkboxes().each_with_index do |(name, tooltip), index| %>
        <% if index%3 == 0 %>
          <tr>
        <% end %>
        <td>
          <div class="checkbox_container">
            <%= check_box_tag name.to_s, name.to_s, false, class: 'qualities', onchange: "updateSettlement(this)", autocomplete: :off, title: tooltip.to_s, 'data-toggle' => 'tooltip' %>
            <%= label_tag name.to_s, nil, class: 'qualities',  title: tooltip.to_s, 'data-toggle' => 'tooltip' %>
          </div>
        </td>
        <% if index+1%3 == 0 %>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>

  <br/>
  </div>


 
  <table class="size_key">
    <tr>
      <th>Settlement Type</th>
      <th>Population Range</th>
      <th>Recomended Max Qualities</th>
    </tr>
    <tr>
      <td>Thorpe</td>
      <td>Fewer than 20</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Hamlet</td>
      <td>21-60</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Village</td>
      <td>61-200</td>
      <td>2</td>
    </tr>
    <tr>
      <td>Small Town</td>
      <td>201-2,000</td>
      <td>2</td>
    </tr>
    <tr>
      <td>Large Town</td>
      <td>2,001-5,000</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Small City</td>
      <td>5,001-10,000</td>
      <td>4</td>
    </tr>
    <tr>
      <td>Large City</td>
      <td>10,001-25,000</td>
      <td>5</td>
    </tr>
    <tr>
      <td>Metropolis</td>
      <td>More than 25,000</td>
      <td>6</td>
    </tr>
  </table>
  <div class="disadvantages_container">
      <%= label_tag "DISADVANTAGES", nil, class: 'disadvantages_label',  title: get_disadvantages_title, 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>
    <br/>
    <% get_disadvantages_checkboxes().each do |name, tooltip| %>
      <div class="checkbox_container">
        <%= check_box_tag name.to_s, name.to_s, false, class: 'disadvantages_checkbox', onchange: "updateSettlement(this)", autocomplete: :off,  title: tooltip.to_s, 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>
        <%= label_tag name.to_s, nil, class: 'disadvantages',  title: tooltip.to_s, 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>
        <% if name.to_s == "Cursed" %>
          <%= select_tag 'cursed_select', options_for_select([
            ["Corruption"],
            ["Crime"],
            ["Economy"],
            ["Law"],
            ["Lore"],
            ["Society"]
            ]), onchange: "updateSettlement(this)", autocomplete: :off ,  title: tooltip.to_s, 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>
        <% end %>
      </div>
    <% end %>
  </div>



</div>


<div class= "border-effect"></div>
<div class= "border">
  <%= render partial: 'settlement'%>
</div>