<!DOCTYPE html>
<html>
  <head>
    <title>Settlement Generator</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class = "nav_bar">
      <%= link_to 'To Medieval Style', '/MedievalStyle' %>
      <%= link_to 'To Tech Style', '/TechStyle' %>
    </div>
    <%= yield %>
  </body>

</html>
